
<section class="cta">
  <div class="cta-content">
    <div class="container">
      <%= link_to 'Request Photographer', new_request_path, { class: 'btn btn-outline btn-xl', 'data-toggle' => "modal", 'data-target' => '#request-photographer' } %>
    </div>
  </div>
  <div class="overlay"></div>
</section>

<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2> Capture what matters most, anytime. Anywhere.</h2>
      <p class="text-muted">Never miss a moment again <i class="fa fa-heart"></i></h2></p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-8">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-screen-smartphone text-primary"></i>
                <h3>First, Request a Photographer </h3>
                <p class="text-muted">Whenever you need a momemnt captured, click on the icon in your app "Request a Photographer" to find someone close by to come and take your photo</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-present text-primary"></i>
                <h3>What's the Occasion?</h3>
                <p class="text-muted">Is it a friends baby shower next week? Popping the question tonight? Maybe just out with some friends and you'd rather be in front of the camera instead of behind it. Whatever the occcasion, let your photographer know! You can choose a time, location, and specify how long you need your photographer for. </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-camera text-primary"></i>
                <h3> Request Accepted! </h3>
                <p class="text-muted">Awesome! We have found your personal photographer! They have been notified with all of your requests and details. </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-lock-open text-primary"></i>
                <h3>Lock it in</h3>
                <p class="text-muted"> Finally, just confirm with your photographer that you are ready to go, and you're all set! Once your photos are taken, you will be able to see them all saved right in your app!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="request-photographer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Let's get started</h4>
      </div>
      <div class="modal-body">
        <%= form_for @request, html: { class: "new_request form-horizontal" } do |request| %>
          <div class="form-group">
            <%= request.label :photographer_id, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= request.collection_select :photographer_id, User.where.not(id: current_user.id).where(opt_in: true), :id, :name, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= request.label :name, 'Name', class: "col-sm-2 control-label"%>
            <div class="col-sm-10">
              <%= request.text_field :name, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= request.label :contact, 'Contact', class: "col-sm-2 control-label"%>
            <div class="col-sm-10">
              <%= request.text_field :contact, class: "form-control", placeholder: "phone number" %>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Location:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputPassword3" placeholder="">
            </div>
          </div>

          <div class="form-group">
            <%= request.label :occassion, 'Occassion', class: "col-sm-2 control-label"%>
            <div class="col-sm-10">
              <%= request.text_field :occassion, class: "form-control", placeholder: "Out with friends, Family gathering, etc." %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 inline">
              <%= request.label :pro_camera, class: "checkbox-inline" do %>
                <%= request.check_box :pro_camera %>
                Professional Camera
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 inline">
              <%= request.label :needed_for_entire_event, class: "checkbox-inline" do %>
                <%= request.check_box :needed_for_entire_event %>
                Needed for entire event
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <%= request.label :special_instructions, 'Special Instructions', class: "col-sm-2 control-label"%>
            <div class="col-sm-10">
              <%= request.text_area :special_instructions, class: "form-control", placeholder: "i.e; Tonight I'm proposing to My girlfriend I don't want her to know that there is someone taking pictures. Please be sure to capture as many candid photos as possible through the entire proposal. We will be right in front of the eiffel tower" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= request.submit class:'btn btn-warning'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>













<div class="modal fade" id="update-profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Profile</h4>
      </div>
      <div class="modal-body">
        <%= form_for current_user, html: { class: "new_request form-horizontal" } do |user| %>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 inline">
              <%= user.label :pro_camera, class: "checkbox-inline" do %>
                <%= user.check_box :pro_camera %>
                Professional Camera
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 inline">
              <%= user.label :opt_in, class: "checkbox-inline" do %>
                <%= user.check_box :opt_in %>
              Available
              <% end %>
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= user.submit "Save", class:'btn btn-warning'%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<footer>
  <div class="container">
    <p>&copy; 2017 PhotoPop! All Rights Reserved.</p>
  </div>
</footer>
